/* range */
input[type="range"].isu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"].isu:focus {
  outline: none;
}
